{% extends "base.html" %}
<title>{% block title %} Home {% endblock %}</title>

{% block content %}
<div class = "row">
  <div class= "col"><h2> Поиск и рассылка вакансий </h2>
  </div>
</div>
  <div class="row my-5">
      <div class="col-md-8 mx-auto">
        <h4 class="my-2"> Для просмотра доступных вакансий, заполните поле по одному из полей </h4>
        <form method="GET" action="{% url 'list' %}">
          <div class="form-group">
            {{ form.as_p }}
          </div>
          <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
      </div>
  </div>
{% endblock %}