{% extends "base.html" %}
<title>{% block title %} Home {% endblock %}</title>

{% block content %}
  {% for obj in object_list %}
    <div class="card my-4">
      <h5 class="card-header"><a href="{{ obj.url }}"> {{ obj.title }}</a></h5>
      <div class="card-body">
        <h4>{{ obj.company }}</h4>
        <p class="card-text">{{ obj.description }}</p>
        <p>{{ obj.city.name }} | {{ obj.specialization.name }}</p>
          <p><small>{{ obj.timestamp }}</small></p>
        {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
      </div>
    </div>
    {% empty %}
      <h3 class="my-4 text-center">По вашему запросу ничего не найдено</h3>
  {% endfor %}
{% if object_list%}
  <div class = "row">
    <div class = "col">
      <nav aria-label="...">
        <ul class="pagination">
          {% if object_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?city={{city}}&specialization={{specialization}}&page=1" aria-label="-1"><<<
              </a>
            </li>
          {% endif %}
          {% for page in object_list.paginator.page_range %}
            <li class="page-item {% if page == object_list.number%} active {% endif%}"><a class="page-link" href="?city={{city}}&specialization={{specialization}}&page={{page}}">{{page}}</a></li>
          {% endfor %}
          {% if object_list.has_next %}
            <li class="page-item">
              <a class="page-link" href="?city={{city}}&specialization={{specialization}}&page={{ object_list.next_page_number }}">>>></a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endif %}

  <div class="row my-5">
      <div class="col-md-6 mx-auto">
        <form method="GET" action="{% url 'list' %}">
          <div class="form-group">
            {{ form.as_p }}
          </div>
          <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
      </div>
  </div>
{% endblock %}